<div class="sidebar" data-color="blue" data-image="assets/img/sidebar-5.jpg">
  <div class="sidebar-wrapper">
    <div class="logo">
        <a href="javascript:void(0)" [routerLink]="['']" class="simple-text">Blue Book</a>
    </div>
    <ul class="nav">
      <li routerLinkActive="active">
        <a 
          href="javascript:void(0)"
          [routerLink]="['/items']">
            <i class="pe-7s-note2"></i>
            <p>Item List</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="sidebar-background" style="background-image: url(assets/img/sidebar-5.jpg) "></div>
</div>