/* Bootstrap Theme */
@import "assets/sass/light-bootstrap-dashboard.scss";
/* PE fonts (icons) */
@import "assets/sass/pe-icon-7-stroke.css";
@import "assets/sass/main-preloader.scss";

body {
    background-color: #f1f4f7;
}

.vertical-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}
